<p id="notice"><%= notice %></p>
<%= render :partial => 'posts/doublepost', :locals => {:azione => 'show', :post => @post} %>
<h2>Add a comment:</h2>
<%= render 'comments/form'%>
<h2>Comments</h2>
<table>
<%=@post.comments.length%>
<% if @post.comments.length!=0 %>
<% @post.comments.each do |comment| %>
  <tr><td>
  <%= render comment%>
  </td></tr>
<% end %>
<%end%>
</table>